* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section-main {
    width: 100%;
    background-image: linear-gradient(to left bottom, #b569d0, #9659bd, #7749aa, #583a97, #382c83);
    height: 900px;
}

.main-banner {
    padding: 79px;
    display: flex;
}

.main-banner-tittle{
    font-size: 96px;
    color: #fff;
}

.main-banner-substittle{
    font-size: 32px;
    color: #fff;
}

.main-banner-button{
    font-size: 28px;
    color: #A276C6;
    background-color: #fff;
    padding: 7px;
    border-radius: 21px ;
    border: none;
}

.main-banner-button:hover{
    background-color: red;
}